h1 {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  color: white;
}

h2 {
  float: right;
  text-align: center;
  letter-spacing: 0px;
  padding: 14px 16px;
  font: 12px "Lato", sans-serif;
  color: white;
  margin-right: 50px;
  margin: auto;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

h4 {
  float: right;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0px;
  padding: 14px 16px;
  font: 14px "Lato", sans-serif;
  color: black;
  margin-right: 40px;
  margin: auto;
}

h5 {
  float: left;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font: 15px "Lato", sans-serif;
  color: rgb(8, 6, 102);
}

main {
  margin: 0 auto;
  width: 400px;
  float: left;
  position: relative;
}

/*Dimensão e posicionamento da logomarca*/

.logo {
  float: left;
  margin-left: 70px;
  margin-right: 10px;
  width: 30%;
  position: relative;
  overflow: hidden;
}

.logo img {
  max-height: auto;
  max-width: 100%;
  height: auto;
  position: relative;
}

/* Estilize a barra de navegação */

#navbar {
  overflow: hidden;
  background-color: aliceblue;
}

/* Navbar links */

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Alterar a cor dos links ao passar o mouse */

#navbar a:hover {
  background-color: #2085AF;
  color: white;
}

/* Adicione uma cor ao link ativo / atual */

#navbar a.active {
  background-color: #5167A0;
  color: white;
}

/* Conteúdo da página */

.content {
  padding: 16px;
}

/* A classe sticky é adicionada à barra de navegação com JS quando atinge sua posição de rolagem */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Adicione algum preenchimento superior ao conteúdo da página para evitar movimentos rápidos repentinos (como a barra de navegação obtém uma nova posição na parte superior da página (posição: fixa e superior: 0) */

.sticky+.content {
  padding-top: 60px;
}

.coluna {
  float: left;
  width: 25%;
  font-size: 17px;
  letter-spacing: 0px;
  margin: auto;
}


.contact {
  float: left;
  width: 25%;
  font-size: 20px;
  letter-spacing: 0px;
  margin: auto;
}


@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  /*Dimensão e posicionamento da logomarca*/
  .logofinal {
    float: center;
    margin-left: 90px;
    margin-right: 10px;
    position: relative;
  }
}


